<!DOCTYPE html>
<html lang="ES">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto 1: A*</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="/index.js"></script>

    <style>
      h1{

      }

    </style>
  </head>
  <body>
    

    <!--Navbar-->
    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Inicio</a>
      <a href="/about">Acerca de</a>
      <a href="/about_us">Nosotros</a>
      <a target="_blank" href="https://github.com/DiegoHuesos/A-Star_Maps">Código</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="card">
      <h1>Proyecto 1</h1>
      <h2>Implementación de algoritmo A-Estrella</h2>
      <p>kjsdgkjrh</p>

    </div>

  </body>

</html>